:root {
  --main-color: #591013; 
  --shade-color: #dedede;
  --base-margin: 1vmax;
  --outer-margin: 2vmax;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /*max-width: 1000px;*/
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  background: black;
}

nav li {
  display: inline-block;
}

header nav ul {
  margin-top: 0px;
}

#top-banner {
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  margin: var(--outer-margin);
}

.headrule {
  /*margin-left: var(--base-margin);*/
  font-size: calc(1.5vw + 1.5vh);
  background: var(--shade-color);
}

.with-aside, .item-box {
  display: flex;
}

.item-box {
  flex: 1;
  justify-content: space-between;
}

.with-aside {
  /*margin: 1em;*/
  align-items: justify;
}

.with-aside > .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.with-aside > aside {
  /*margin-top: var(--base-margin);*/
}

.aside img {
  /*height: 100%;*/
}

.art-item {
  flex: 1;
  position: relative;
  /*height: 1vh;*/
  margin: var(--base-margin);
  background: black;
}
.art-item:first-child {
  margin-left: 0;
}
.art-item:last-child {
  margin-right: 0;
}

.art-item img {
  width: 100%;
}


.headline {
  display: flex;
  align-items: center;
  position: absolute;
  height: 40%;
  width: 100%;
  top: 60%;
  /*margin: 0px;*/
  background: black;
  color: white;
  font-size: calc(0.9vw + 0.9vh);
}

.hlntxt {
  padding: calc(0.4vw + 0.4vh);
}

#box2 .headline {
  font-size: calc(1vw + 1.3vh);
}

.side-banner {
  margin-top: var(--base-margin);
  margin-left: var(--base-margin);
}

#middle-banner {
  display: flex;
  justify-content: center
}
